.about-h2{
    font-size: 2.5em;
    padding: 10px;
    background-color: rgb(233, 233, 233);
    text-align: center;
}

#about-title{
    font-size: 3em;
    padding: 10px;
    margin: 10px 0 0 0;
    background-color: rgb(233, 233, 233);
    text-align: center;
}

#about-div p {
    font-size: 1.3em;
}

#about-div ul{
    font-size: 1.2em;
}

#about-div h5{
    font-size: 1.5em;
    text-align: center;
}

.dev-item-div{
    width: 40%;
    margin-left: 30%;
}

@media screen and (max-width: 1650px){
    .dev-item-div{
        width: 50%;
        margin-left: 25%;
    }
}

@media screen and (max-width: 1200px){
    .dev-item-div{
        width: 60%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 1000px){
    .dev-item-div{
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 750px){
    .dev-item-div{
        width: 100%;
        margin-left: 0;
    }
}