.about-h2{
    font-size: 2.5em;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}

#my-pic{
    width: 20%;
    margin-left: 40%;
    padding: 10px;
}

#about-title{
    font-size: 3em;
    padding: 10px;
    margin: 10px 0 0 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#who-am-i-h2{
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#dark #about-title{
    background-color: rgb(124, 124, 124);
}

#light #about-title{
    background-color: rgb(233, 233, 233);
}

#dark .about-h2{
    background-color: rgb(124, 124, 124);
}

#light .about-h2{
    background-color: rgb(233, 233, 233);
}

#about-div p {
    font-size: 1.3em;
}

#about-div ul{
    font-size: 1.2em;
}

#about-div h5{
    font-size: 1.5em;
    text-align: center;
}

.dev-item-div{
    width: 40%;
    margin-left: 30%;
}

@media screen and (max-width: 1650px){
    .dev-item-div{
        width: 50%;
        margin-left: 25%;
    }

    #my-pic{
        width: 30%;
        margin-left: 35%;
    }
}

@media screen and (max-width: 1200px){
    .dev-item-div{
        width: 60%;
        margin-left: 20%;
    }

        #my-pic {
            width: 40%;
            margin-left: 30%;
        }
}

@media screen and (max-width: 1000px){
    .dev-item-div{
        width: 80%;
        margin-left: 10%;
    }

        #my-pic {
            width: 50%;
            margin-left: 25%;
        }
}

@media screen and (max-width: 750px){
    .dev-item-div{
        width: 100%;
        margin-left: 0;
    }

        #my-pic {
            width: 60%;
            margin-left: 20%;
        }
}