#light nav{
    background-color: rgb(233, 233, 233);
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
} 

#dark nav{
    background-color: rgb(124, 124, 124);
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
} 

#toggle-switch{
    position: absolute;
    left: 100px;
    top: 18px;
}

#toggle-switch input{
    height: 30px;
    width: 50px;
}

#mobile-nav{
    display: none;
}

#logo{
    position: absolute;
    left: 1rem;
    height: 50px;
    margin-top: 4px;
}

@media (max-width: 830px){
    #desktop-nav{
        display: none;
    }

    #toggle-switch{
        position: absolute;
        left: 100px;
        top: 30px;
    }

    #mobile-nav{
        display: block;
    }

    #logo{
        margin-top: 14px;
    }

    .navbar{
        z-index: 2;
    }

    .close-navbar-toggler{
        position:absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        z-index:1;
    }

      .close-navbar-toggler.collapsed{
        z-index:-1;
      }
}