#project-form-div {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    background-color: rgb(233, 233, 233);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#project-div span{
    font-size: 1.2em;
}

#project-div input{
    font-size: 1.2em;
}

#project-form{
    text-align: center;
}

#project-form a{
    color: black;
    font-size: 1.4em;
}