#signup-div{
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

#dark #signup-div{
    background-color: rgb(124, 124, 124);
}

#light #signup-div{
    background-color: rgb(233, 233, 233);
}

#signup-div span{
    font-size: 1.2em;
    width: 9em;
}

#signup-div input{
    font-size: 1.2em;
}

#signup-form{
    text-align: center;
}

#signup-form a{
    color: black;
    font-size: 1.4em;
}

.error-messages{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    border-radius: 10px;
    border-color: rgb(233, 233, 233);
    /* border-color: rgb(170, 170, 170); */
    font-size: 1.2em;
}

@media screen and (max-width: 1850px){
    #signup-div{
        margin-left: 20%;
        width: 60%;
    }

    .error-messages{
        width: 60%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 1450px){
    #signup-div{
        margin-left: 17.5%;
        width: 65%;
    }

    .error-messages{
        width: 65%;
        margin-left: 17.5%;
    }
}

@media screen and (max-width: 1100px){
    #signup-div{
        margin-left: 10%;
        width: 80%;
    }

    .error-messages{
        width: 80%;
        margin-left: 10%;
    }
}

@media screen and (max-width: 850px){
    #signup-div{
        margin-left: 5%;
        width: 90%;
    }

    .error-messages{
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 700px){
    #signup-div{
        margin: 10px;
        width: calc(100% - 20px);
    }

    .error-messages{
        width: calc(100% - 20px);
        margin: 10px;
    }

    #signup-form div{
        flex-direction: column;
    }

    #signup-div span{
        width: 100%;
    }

    #signup-form div input{
        width: 100%;
    }
}

